
.nav-link:hover  {
    background-color: grey;
    color: white;
}

.nav-link:hover .fa {
    transition: all 1s;
    transform: rotate(360deg);
    font-size: 20px;
}

.nav-link {

    color: white;
}

.activo {
    background-color: grey !important
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.color-izq{
    background-color: gray
}

.perfil{
    background-image: url("../img/pacman.gif");
    background-size: cover;
    background-position: center;
}